.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* header section style */

header {
  height: 60px;
}

.nav-style {
  display: flex;
  margin: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

.nav-style h4 {
  font-size: 28px;
  font-weight: 600px;
}

.nav-style button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: 600px;
  color: rgb(13, 19, 33);
  opacity: 0.8;
}

/* banner section style start */

.banner-style {
  background-image: url(../Images/Hero-bg.png);
  height: 650px;
  background-repeat: none;
  background-size: cover;
  text-align: center;
}

.banner-style img {
  margin-top: 50px;
}

.banner h2 {
  margin-top: 30px;
  font-size: 48px;

}

.banner p {
  margin: 20px 300px;
  color: #474747;
  opacity: 0.9;
  line-height: 25px;
}

.banner-btn {
  border-radius: 5px;
  border: none;
  padding: 20px 35px;
  background-color: #000000;
  color: #ffffff;
}


.banner-btn a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}


/* web development section start */

.about-title {
  margin: 150px 150px 0px 150px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 10px;
}


.title-text {
  text-align: center;
  font-size: 36px;
  font-weight: 800px;
  padding-top: 80px;
}

.sub-title-text {
  margin: 0px 150px;
  text-align: center;
  color: #474747;
  font-size: 16px;
  font-weight: 400px;
  line-height: 25px;
}

.content-box {
  border-radius: 10px;
  margin: 30px 100px 0px 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.content-box-2 {
  justify-content: left;

}

.text-box {
  margin: 50px;
}

.text-box .text-box h4 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;

}


.text-box-p {
  width: 464px;
  color: #474747;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 1px;
}

.text-box .text-box-btn {
  background-color: #ffffff;
  color: #474747;
  padding: 12px 27px;
  font-size: 20px;
  font-weight: 700;
}

.img-box {
  padding-right: 30px;
}

.img-box-2 {
  padding-left: 30px;
}

.inspiration {
  margin: 100px 150px;
}

.title-text-2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  padding-top: 80px;
}

.sub-title-text-2 {
  margin: 0px 150px;
  text-align: center;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

}

.iframe {
  border: rgba(13 19 33 0.2) 1px solid;
  border-radius: 16px;
  padding: 32px;

}

.video {
  border-radius: 16px;

}



.my-current-target {
  margin: 150px 150px 0px 150px;
}

.my-current-target .title-text-3 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

.sub-title-text-3 {
  margin: 0px 100px;
  text-align: center;
  color: #474747;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 400;
  line-height: 25px;
}

.card-container {
  margin-top: 50px;
  display: flex;
}

.card-box-1 {
  background-color: rgba(255, 76, 30, 0.05);
  margin: 0px 10px;
  width: 400;
  border-radius: 16px;
  padding: 40px;
}

.card-box-3 {
  background-color: rgba(255, 76, 30, 0.05);
  margin: 0px 10px;
  width: 400;
  border-radius: 16px;
  padding: 40px;

}

.card-container h4{
  font-size: 24px;
  font-weight: 900;
  
}

.card-container p{

  font-size: 16px;
  color: #474747;
  margin-top: 20px;
  line-height: 25px;
  letter-spacing: 1px;

}

.card-container a{
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}



.i-need-support{
  margin: 150px 150px 0px 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../Images/handshake.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no repeat;
  border-radius: 16px;
  height: 360px;
  text-align: center;

}

.i-need-support h1{
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 1px;
  padding-top: 80px;

}

.i-need-support p{
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: 0px 200px;
}

.i-need-support .input input{
  width: 500px;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.i-need-support .input button{
  margin-left: 10px;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
}



footer{
  margin: 100px;
  background-color: rgb(13, 19 33 0.03);
  height: 120px;
}

footer .footer-box{
  margin: 150px 150px 0px 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

footer .footer-box h2{
  letter-spacing: 1px;
  word-spacing: 3px;
}

footer .footer-box .footer-img-box img{
  padding: 0px 10px;
}